@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Primary */

* {
  color: #333;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;

  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(194, 89, 89, 0.1); */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --primary: #bc4123;
  --secondary: #2b3452;
  --third: #f1f1f1;
  --fourth: white;
  --five: seagreen;
  --six: slateblue;
  --seven: slategray;
  --eight: #00cd7c;
  --nine: #242424;
}
body {
  margin: 0;
  box-sizing: border-box;
  width: 1300px;
  margin: 0 auto;
  background: #f2f2f2;
  font-family: Nunito;
}

p {
  margin: 10px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
nav {
  cursor: pointer;
  text-decoration: none;
}

/*  ---------- */

/* global Kinda */

header nav {
  /* max-width: 1000px; */
  font-size: 12px;
}

/*  ---------- */

/* Header - Login */

/* navbar */

header .nav1 {
  /* max-width: 60rem; */
  margin: 10px auto 50px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #ddd;
}

.nav1-main,
.nav1-right-side {
  display: flex;
  margin: 0;
  gap: 1rem;
  font-size: 25px;
}

.nav1-main a,
.nav1-right-side a {
  text-decoration: none;
  color: var(--color-primary-400);
  margin-left: 20px;
}

.nav1-main a:hover,
.nav1-right-side a:hover {
  text-decoration: none;
  color: var(--color-primary-800);
}

.nav1-main a.navLink-home {
  color: var(--color-primary-700);
  font-size: 30px;
}
.nav1-main a.navLink-home:hover {
  color: var(--color-primary-900);
  font-size: 30px;
}

/* .login-navlink {
  margin-right: 30px;
} */

/*  ---------- */

.nav2 {
  display: flex;
  flex-direction: row;

  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.nav2 a {
  /* padding: 30px; */
  padding-left: 20px;
  font-size: 20px;

  /* border: 1px solid; */
  /* border-radius: 4px; */
}

.nav2 a:hover {
  text-decoration: double;

  /* padding: 30px; */
  /* padding-left: 20px;
  font-size: 20px;
  text-decoration: none; */
  /* border: 1px solid; */
  /* border-radius: 4px; */
}

/* welcome text */

.welcome-main-text {
  margin-top: 30px;
}

.long-text {
  margin-top: 15px;
  width: 700px;
  display: flex;
  justify-content: center;
}

.short-text {
  margin-bottom: 10px;
}

/* Search-bar Fav - Cart - Headers */

.nav3 {
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
  text-decoration: none;
  padding: 30px;
  margin-bottom: 15px;
}

.search-bar-main a {
  color: var(--secondary);
  font: inherit;
  padding: 15px;

  border-radius: 4px;
  border: none;
  padding: 15px;
}
.search-bar-main input {
  color: var(--secondary);
  font: inherit;
  padding: 15px;
  padding-right: 80px;
  border-radius: 4px;
  border: none;
  border: 1px solid black;
  font-size: 14px;
}

.search-bar-main .search-button {
  border: 2px solid #ddd;
  background-color: rgb(73, 121, 255, 0.7);
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 8px;
  font-size: 17px;
}

.Booking-button {
  padding: 15px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: rgb(73, 121, 255, 0.7);
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.nav3 a:hover {
  background: white;
}

/* Page content - Body*/

.body {
  max-width: 1000px;
  margin: 0 auto;
}

.home-main-component {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
}

.home-welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-welcome-text > div {
  margin-top: 10px;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}
.help-layout nav a {
  padding: 10px;
  border: 2px solid var(--secondary);
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover {
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

.grid-container-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  margin: 0 auto;
}

.grid-container-contact button {
  background-color: rgb(73, 121, 255, 0.7);
}

/* breadcrumbs */

/* .breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: black;
}
.breadcrumbs {
  max-width: 1000px;
  margin: 20px auto;
} */

/* Items on Main and on Each category page default styles */

.item-default {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 20px;
  border-bottom: 3px solid #ddd;
  margin: 0 auto;
}

.item-default img {
  width: 100%;
}

.item-default button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  background: var(--eight);
  cursor: pointer;
}

/* favourite-items tab */
.favourite-items-notice p {
  margin: 0 auto;
  width: 1000px;
}

/* button-instead-of-scrolling , 1 , 2 , 3 , 4 */

.button-instead-of-scrolling {
  display: flex;
  justify-content: center;
  padding: 25px;
  gap: 20px;
  border-bottom: 3px solid #ddd;
  margin: 0 auto;
  width: 1200px;
  color: white;
}
.button-instead-of-scrolling button {
  color: black;
  background-color: rgb(249, 199, 98, 0.6);
}

/* items default On Main Page */

.item-default-On-Main-Page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  border-bottom: 3px solid #ddd;
  margin: 0 auto;
  width: 1200px;
  padding-right: 100px;
}

.item-default-On-Main-Page-search {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 900px;
}
.image-product-search {
  box-sizing: border-box;
}

.box-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  width: 500px;
  padding: 30px;
  margin: 0 20px;
  border: 1px solid rgb(0, 128, 0, 0.3);
}

.box-search img {
  width: 100%;
  height: 50%;
}

.box-search button {
  color: black;
  background-color: #00cd7c;
}
.box-search h3 {
  margin-top: 20px;
}

/* padding: 10px;
margin: 20px 20px;
text-decoration: none;
font-size: 16px;
border-radius: 4px;
border: 1px solid slategray; */

.side-by-side-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.side-by-side-text-up-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name,
.duration,
.summary {
  margin: 10px 0;
}

.name {
  height: 20px;
  margin-top: 0;
}

.summary {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #777;
}

.h5-normal {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.price {
  font-weight: bold;
}

/* Cart Page */

.box-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgb(0, 0, 255, 0.2);
  padding: 10px;
}

.box-cart img {
  width: 100%;
  height: 50%;
}

.box-cart button {
  background-color: rgb(73, 121, 255, 0.7);
}

.box-cart p {
  font-size: 13px;
}
/* item-on-cart-page-right-side */
.item-default-On-Main-Page-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
  gap: 20px;

  margin: 0 auto;
}

.cart-page-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  padding: 20px;
  width: 1200px;
  margin-bottom: 20px;
}

.item-default-On-Cart-Page-Left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  gap: 20px;
  border-bottom: 3px solid #ddd;
  margin: 0 auto;
  width: 500px;
}
.item-default-On-Cart-Page-Left div {
  font-size: 16px;
  padding: 5px;
}

.cart-page-rightSide-order-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.cart-page-rightSide-order-details button {
  width: 200px;
  margin-top: 10px;
  background-color: rgb(73, 121, 255, 0.7);
}

.buttons-to-add-subtrack {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
/* Left Side Bar and item page */

.item-default-and-leftSide-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 15px;
  gap: 10px;
  border-bottom: 3px solid #ddd;
  margin: 0 auto;
}

/*  left side bar inside styles */

.left-side-bar {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* padding-top: 50px; */
}

/* left side bar inside styles catgories links */
.left-side-bar-categories {
  /* padding: 25px; */
  /* border-bottom: 3px solid #ddd; */
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 20px;
  color: white;
}

/* left side bar inside styles, Branches styles */
.left-side-bar-branches {
  /* padding: 25px; */

  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* ------------------ */

/* for Default component middle */

.component-default {
  margin: 0 auto;
  width: 1000px;
  padding: 30px;
  margin-bottom: 20px;
}

.component-default-login-signup {
  margin: 0 auto;
  width: 1000px;
  padding: 30px;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
  display: grid;
}

.component-default-login-signup button {
  background-color: rgb(73, 121, 255, 0.7);
}

.component-default-edit-your-information {
  margin: 0 auto;
}

.submit-profile-button {
  background-color: rgb(73, 121, 255, 0.7);
}

/* Moving slides */

.item-default-responsive-side-offer {
  padding: 25px;
  gap: 20px;
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
}

/* .item-default-responsive-main-offer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
  gap: 20px;
  width: 1000px;
  margin: 0 auto;
} */

/* .item-default-responsive-main-offer img,
.item-default-responsive-side-offer img {
  width: 100%;
} */

.box {
  padding: 10px;
  margin: 15px 15px;
  text-decoration: none;

  border-radius: 4px;
  /* border: 1px solid rgb(255, 255, 255); */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 0;
}

.box button {
  /* border: 10px solid; */

  border-radius: 10px;
  background: var(--eight);
  cursor: pointer;
}

.image-product {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}

/* Offers Selected Page */

.offers-selected-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  gap: 30px;
}

.offers-selected-page img {
  width: 100%;
}

.offers-selected-page-main-text {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 30px;
}

/* Searched Item */

.searched-each-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  border-radius: 4px;
  border-bottom: 2px solid #ddd;
  width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.searched-each-item .image {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.searched-each-item .details {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.tour-details {
  margin-bottom: 60px;
  margin-top: 30px;
}

.meal-details-search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
  height: 120px;
}

.searched-each-item button {
  padding: 10px;
  width: 30%;
  height: 30%;
}

.medium-text-bold {
  font-size: 20px;
  text: 10px 10px;
}

/* Offers One and Two */

.offers {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  width: 100%;
}

.first-offer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.first-offer > img,
.second-offer > img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}

/* Catogeries */

.grid-container-catogeries-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  gap: 30px;
}

.grid-container-catogeries-img > img {
  width: 100%;
}

.img > img {
  width: 100%;
}
.img > p {
  text-align: center;
}

/* Offer two */

.grid-container-offers2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.grid-container-offers2 img {
  width: 100%;
}

/* Comment section */

.grid-container-comments-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  align-items: center;
  justify-items: center;
  background-color: rgb(100, 149, 237, 0.5);
}
.grid-container-comments-section > h2 {
  grid-column: span 3;

  margin-bottom: 20px;
}
.Each-comment {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  border-radius: 3px;
  border: 2px solid #ddd;
  width: 75%;
  height: 200px;
  color: black;
}

.Each-comment :nth-child(3) {
  align-self: end;
}

/* footer */

.footer {
  background-color: rgb(21, 48, 96, 0.8);
}
.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
  bottom: 0;
}

.footer-row {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.footer-row > img {
  width: 60%;
}

.footer-row > div > a {
  color: black;
}

.footer-row > div {
  color: black;
}

.at-the-end {
  position: relative;
  bottom: 0;
}
.at-the-end-item-search {
  position: relative;
  bottom: 0;
}
.article-main {
  min-height: 50vh;
  position: relative;
}

.article-main-item-search {
  min-height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

/* About and FAQ question and NotFound */

.about,
.help-layout,
.NotFound {
  display: grid;
  margin: 0 auto;
  width: 1000px;
  gap: 10px;
  margin-bottom: 20px;
}

.about button {
  width: 20%;
}

/* user-profile-page */

.profile-page-main-component {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

/* .user-profile-page.right {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.user-profile-page.right button {
  margin-bottom: 20px;
  width: 200px;
}

.user-profile-page.right button {
  width: 200px;
} */

/* .user-profile-page.left {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
} */

.user-profile-page h3 {
  margin-bottom: 40px;
}
.user-profile-page button {
  background-color: rgb(73, 121, 255, 0.7);
}

.profile-last-p {
  margin-bottom: 20px;
}

/* Sorting items styles */

/* .sorting-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0 auto;

  width: 1150px;
} */

/* u have to choose the component not element , if u choose the element , the words themselves will be center or left or right.. */
.sorting-main,
.sorting-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;

  margin: 0 auto;
  padding: 5px;

  width: 1150px;
}

.sorting-icons button,
.sorting-main button {
  width: 250px;
  font-size: 14px;
  margin-bottom: 3px;
  color: black;
  background-color: rgb(73, 121, 255, 0.7);
}

.sorting-icons-pizza {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;

  margin: 0 auto;

  width: 1000px;
}

.sorting-main-pizza button {
  width: 200px;
  font-size: 12px;
  margin-bottom: 3px;
  color: black;
}
/* Forum Review Page */

.review-main-component {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.review-2nd {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.review-2nd button {
  width: 200px;
  margin: 10px 10px;
  padding: 10px;
  background-color: rgb(73, 121, 255, 0.7);
}

.select-drop-down-style-component {
  padding: 10px;
  padding-left: 0;
}

.select-drop-down-style {
  padding: 10px;
  padding-left: 0;
}

.button-green {
  background-color: rgb(73, 121, 255, 0.7);
}

.review-3rd h3 {
  padding-top: 20px;
}
.reviews {
  border-bottom: 2px solid #ddd;
}

/* Responsive */
/* from 1300px */

@media screen and (max-width: 1300px) {
  header nav {
    max-width: 1000px;
  }
  .nav2 {
    width: 800px;
    margin: 0 150px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout {
    max-width: 1000px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* from 1150px */
@media screen and (max-width: 1150px) {
  header nav {
    max-width: 800px;
  }
  .nav2 {
    width: 600px;
    margin-left: 220px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout {
    max-width: 800px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* from 1050px */
@media screen and (max-width: 1050px) {
  header nav {
    max-width: 600px;
  }

  .nav2 > a {
    font-size: 16px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout {
    max-width: 800px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(4, 1fr);
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-bar-main input {
    padding: 5px;
    padding-right: 0;
  }
  .search-bar-main .search-button {
    font-size: 14px;
  }
  .search-bar-main .search-button {
    padding: 7px;
  }
  .Booking-button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  body {
    width: 800px;
    margin: 0 0;
  }
  .nav2 {
    width: 500px;
    font-size: 16px;
    margin-left: 100px;
  }
  .home-main-component,
  .button-instead-of-scrolling,
  .item-default-On-Main-Page,
  .sorting-main,
  .sorting-icons {
    width: 800px;
  }
  .sorting-icons button,
  .sorting-main button {
    width: 150px;
  }
  .sorting-main,
  .sorting-icons {
    margin: 0 0;
  }
  .item-default-On-Main-Page {
    margin-left: 50px;
  }
}

/* from 850px */
@media screen and (max-width: 850px) {
  header nav {
    max-width: 600px;
  }
  header .nav1,
  .nav3,
  .grid-container-footer {
    margin: 10px 10px;
  }
  .nav2 {
    width: 500px;
    font-size: 16px;
    margin: 20px 20px;
  }

  .nav2 > a {
    font-size: 16px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout,
  .button-instead-of-scrolling {
    max-width: 600px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-bar-main input {
    padding: 5px;
    padding-right: 0;
  }
  .search-bar-main .search-button {
    font-size: 14px;
  }
  .search-bar-main .search-button {
    padding: 7px;
  }
  .Booking-button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  body {
    width: 800px;
    margin: 0 0;
  }

  .home-main-component,
  .button-instead-of-scrolling,
  .item-default-On-Main-Page,
  .sorting-main,
  .sorting-icons {
    width: 800px;
  }
  .sorting-icons button,
  .sorting-main button {
    width: 150px;
  }
  .sorting-main,
  .sorting-icons {
    margin: 0 0;
  }
  .item-default-On-Main-Page {
    margin-left: 50px;
  }

  .item-default-On-Main-Page {
    margin-left: 30px;
    width: 600px;
  }
}

/* from 630px */
@media screen and (max-width: 630px) {
  header nav {
    max-width: 500px;
  }
  header .nav1,
  .nav3,
  .grid-container-footer {
    margin: 10px 10px;
  }
  .nav2 {
    width: 400px;

    margin: 20px 20px;
  }
  .home-welcome-text {
    margin: 0 0;
    width: 500px;
  }

  .nav2 > a {
    font-size: 12px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout,
  .button-instead-of-scrolling {
    max-width: 500px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-bar-main input {
    padding: 5px;
    padding-right: 0;
  }
  .search-bar-main .search-button {
    font-size: 14px;
  }
  .search-bar-main .search-button {
    padding: 7px;
  }
  .Booking-button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
  body {
    width: 500px;
    margin: 0 0;
  }

  .home-main-component,
  .button-instead-of-scrolling,
  .item-default-On-Main-Page,
  .sorting-main,
  .sorting-icons {
    width: 500px;
  }
  .sorting-icons button,
  .sorting-main button {
    width: 150px;
  }
  .sorting-main,
  .sorting-icons {
    margin: 0 0;
  }
  .item-default-On-Main-Page {
    margin-left: 50px;
  }

  .item-default-On-Main-Page {
    margin-left: 30px;
    width: 600px;
  }
}

/* from 630px */
@media screen and (max-width: 500px) {
  header nav {
    max-width: 400px;
  }
  header .nav1,
  .nav3,
  .grid-container-footer {
    margin: 10px 10px;
  }
  .nav3 {
    margin-top: 30px;
    padding: 2px;
  }
  .nav2 {
    width: 400px;

    margin: 20px 20px;
  }
  .home-welcome-text {
    margin: 0 0;
    width: 400px;
  }

  .nav2 > a {
    font-size: 12px;
  }
  .sorting-main,
  .sorting-icons,
  .item-default-On-Main-Page,
  .review-main-component,
  .component-default-login-signup,
  .grid-container-footer,
  .cart-page-main,
  .grid-container-contact,
  .about,
  .help-layout,
  .button-instead-of-scrolling {
    max-width: 400px;
  }
  .item-default-On-Main-Page {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-default-On-Main-Page-cart {
    grid-template-columns: repeat(3, 1fr);
  }

  .search-bar-main input {
    padding: 5px;
    padding-right: 0;
    width: 100px;
    margin-left: 20px;
  }
  .search-bar-main .search-button {
    font-size: 14px;
  }
  .search-bar-main .search-button {
    padding: 7px;
  }
  .Booking-button {
    padding: 10px;
    font-size: 14px;
  }
  body {
    width: 400px;
    margin: 0 0;
  }

  .home-main-component,
  .button-instead-of-scrolling,
  .item-default-On-Main-Page,
  .sorting-main,
  .sorting-icons {
    width: 400px;
  }
  .sorting-icons button,
  .sorting-main button {
    width: 100px;
    font-size: 12px;
  }
  .sorting-main,
  .sorting-icons {
    margin: 0 0;
  }

  .item-default-On-Main-Page {
    margin-left: 30px;
    width: 600px;
  }
  .nav1-main a.navLink-home {
    font-size: 20px;
  }
  .nav1-main,
  .nav1-right-side,
  .short-text {
    font-size: 16px;
  }
  .item-default-On-Main-Page {
    margin: 0 0;
  }
  .sorting-main,
  .sorting-icons {
    width: 380px;
  }
  .box {
    font-size: 14px;
    padding: 1px;
    margin: 5px 5px;
  }
  .button-add-to-cart-b {
    font-size: 12px;
  }
  .footer,
  .grid-container-footer {
    width: 400px;
    margin: 0 0;
    font-size: 12px;
  }
  .grid-container-contact {
    font-size: 12px;
  }
}
